.product_banner {
  height: 650px;
  width: 100%;
  max-width: 1500px;
  min-width: 1250px;
  margin: 0 auto;
  background-color: #f79b34;
  background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/prime/Events/Pug/Leadup21-page/Eng-Mobile/XCM_Manual_1348517_in_prime_1_pd_1500x600_b84db980-7588-4c7f-b61c-dcb74fd3836c._CB663287815_.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  // z-index: -1;
  .gradient {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    background: linear-gradient(#0000, #eaeded);
  }
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.products {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  min-height: 1000px;
  margin-top: -350px;
  position: relative;
  .cards {
    display: grid;
    width: 1450px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 23px;
    margin: 0 auto;
    .item {
      background-color: rgb(255, 255, 255);
      height: 410px;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      position: relative;
      h2 {
        color: #0f1111;
      }
      .inner_card {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 280px;
        gap: 13px;
        .inr_itm {
          height: 100%;
          a {
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: black;
          }
          .img {
            display: block;
            height: 80%;
            background-color: coral;
            width: 100%;
          }
          .caption {
            display: block;
            font-size: 13px;
            margin-top: 2px;
          }
        }
      }
      .sign_in_title {
        font-size: 23px;
      }
      .sign_in_btn {
        margin-top: 20px;
      }
      .banner_img {
        height: 280px;
        width: 100%;
        margin-top: 10px;
        display: block;
        background-color: coral;
      }
      .read_more {
        position: absolute;
        bottom: 20px;
        left: 20px;
        a {
          color: #007185;
          text-decoration: none;
          font-size: 13px;
          &:hover {
            color: orange;
            text-decoration: underline;
          }
        }
      }
    }
    #item4 {
      height: 160px;
    }
    #item5,
    #item7,
    #item8 {
      .inner_card {
        height: 311px;
      }
    }
    #item9,
    #item13,
    #item14 {
      grid-column: 1/5;
    }

    .homepage_item_slider {
      margin-top: 10px;
      height: 90%;
      overflow-x: scroll;
      display: flex;
      gap: 23px;
      a {
        text-decoration: none;
        color: black;
      }
      .slider_item {
        .item_thumbnail {
          height: 200px;
          background-color: white;
          padding: 20px;
          img {
            height: 115%;
            object-fit: contain;
          }
        }
        .item_details {
          padding-left: 10px;
          margin-top: 8px;
          .price_range {
            font-size: 14px;
            .currency_sign {
              font-size: 16px;
            }
          }
          .price {
            font-size: 18px;
            .currency_sign {
              font-size: 20px;
            }
          }
          .timer {
            font-size: 13px;
            color: #757575;
          }
        }
      }
    }
    .lightH2{
      color: #444444;
      font-weight: 400;
    }
    #item13, #item14 {
      height: 330px;
      .homepage_item_slider {
        a {
          .slider_item {
            height: 222px;
            background-color: coral;
            img {
              object-fit: contain;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
.footer_banner{
  height: 250px;
  width: 970px;
  margin: 20px auto ;
  img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
