@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bold {
  font-weight: 600;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1250px;
}

nav .upperNav {
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #131921;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}

nav .logo {
  padding: 10px 10px 3px 7px;
  margin-left: 3px;
  width: 130px;
  display: -ms-grid;
  display: grid;
  border: 1px solid transparent;
  place-items: center;
  margin-right: 4px;
}

nav .logo:hover {
  border: 1px solid white;
  border-radius: 2px;
}

nav .logo a {
  display: block;
  height: 100%;
  width: 109px;
  position: relative;
}

nav .logo a img {
  height: 29px;
}

nav .logo a::after {
  position: absolute;
  left: 89%;
  top: 15%;
  content: ".in";
  font-size: 13px;
  color: white;
}

nav .location-box button {
  padding: 4px 8px 4px 3px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  height: 47px;
}

nav .location-box button:hover {
  border: 1px solid white;
  border-radius: 2px;
}

nav .location-box button .left {
  margin-right: 3px;
}

nav .location-box button .left svg {
  padding-top: 8px;
  height: 100%;
  color: white;
  width: 18px;
  color: white;
}

nav .location-box button .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .location-box button .right .deliverto {
  font-size: 13px;
  color: silver;
}

nav .location-box button .right .location {
  font-size: 14px;
  white-space: nowrap;
}

nav .searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 47px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 400px;
}

nav .searchbox form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .searchbox select {
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px 0 0 5px;
  color: #414141;
  height: 38px;
  font-size: 14px;
  width: 56px;
  cursor: pointer;
  text-align: center;
  padding: 0 6px;
}

nav .searchbox select option {
  color: white;
}

nav .searchbox input {
  height: 38px;
  border: none;
  outline: transparent;
  font-size: 15px;
  background-color: white;
  padding: 0 13px;
  min-width: 500px;
  width: 80%;
}

nav .searchbox .search-btn {
  background-color: #febd69;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #414141;
  height: 38px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  padding: 0 10px;
  width: 51px;
}

nav .searchbox .search-btn:active {
  background-color: #ffa229;
}

nav .searchbox .search-btn .iconify {
  width: 24px;
  color: black;
  -webkit-transform: scale(2) !important;
          transform: scale(2) !important;
}

nav .country_select {
  padding: 10px 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
}

nav .country_select:hover {
  border: 1px solid white;
}

nav .country_select .India svg {
  width: 23px;
  height: auto;
}

nav .sign_in button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 47px;
  border: 1px solid transparent;
}

nav .sign_in button:hover {
  border: 1px solid white;
}

nav .sign_in button .hello {
  font-size: 12px;
  white-space: nowrap;
  color: #e0e0e0;
}

nav .sign_in button .list {
  font-size: 14px;
  white-space: nowrap;
  color: white;
}

nav .return_orders {
  cursor: pointer;
  height: 47px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid transparent;
  padding: 10px;
}

nav .return_orders:hover {
  border: 1px solid white;
}

nav .return_orders .returns {
  font-size: 12px;
  white-space: nowrap;
  color: #e0e0e0;
}

nav .return_orders .orders {
  white-space: nowrap;
  font-size: 14px;
}

nav .cart {
  cursor: pointer;
  padding: 10px;
  height: 47px;
  border-radius: 2px;
  border: 1px solid transparent;
  position: relative;
  width: 137px;
}

nav .cart:hover {
  border: 1px solid white;
}

nav .cart svg {
  width: 32px;
  height: auto;
  fill: white;
}

nav .cart svg path {
  fill: white;
}

nav .cart svg circle {
  fill: white;
}

nav .cart .cartItems {
  position: absolute;
  top: 2px;
  left: 23px;
  font-weight: 600;
}

nav .cart .cart_text {
  position: absolute;
  top: 54%;
  left: 47%;
  font-size: 13px;
}

.set_location_section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  z-index: 1;
}

.set_location_section .shadow {
  display: block;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  border: none;
  z-index: 2;
}

.set_location_section .box {
  background-color: white;
  border: 1px solid #0002;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 8px;
  width: 355px;
}

.set_location_section .box .top_bar {
  border-radius: 10px 10px 0 0;
  padding: 20px;
  color: #0f1111;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ebebeb));
  background: linear-gradient(#f6f6f6, #ebebeb);
  font-size: 16px;
}

.set_location_section .box .inner_content {
  padding: 20px;
}

.set_location_section .box .inner_content .select_a_delivery {
  font-size: 12px;
  color: #565959;
}

.set_location_section .box .inner_content .sign_in {
  background-color: #ffd814;
  padding: 8px 5px;
  display: block;
  border: none;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  margin: 10px 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.061);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.061);
}

.set_location_section .box .inner_content .sign_in:hover {
  background-color: #f6d115;
}

.set_location_section .box .inner_content .sign_in:active {
  background-color: #ceac06;
}

.set_location_section .box .inner_content .or_enter_pincode {
  font-size: 12px;
  color: #565959;
  text-align: center;
  position: relative;
  display: block;
  margin-top: 13px;
}

.set_location_section .box .inner_content .or_enter_pincode::after {
  position: absolute;
  left: 79%;
  top: 45%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 1px;
  width: 65px;
  background-color: #e8e8e8;
  content: "";
}

.set_location_section .box .inner_content .or_enter_pincode::before {
  position: absolute;
  right: 79%;
  top: 45%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 1px;
  width: 65px;
  background-color: #e8e8e8;
  content: "";
}

.set_location_section .box .inner_content form {
  margin-top: 15px;
}

.set_location_section .box .inner_content form input {
  padding: 3px 7px;
  border: 1px solid grey;
  border-radius: 2px;
  font-size: 16px;
  height: 31px;
  -webkit-box-shadow: 0 0.1px 0.1px rgba(0, 0, 0, 0.014), 0 0.1px 0.3px rgba(0, 0, 0, 0.02), 0 0.3px 0.6px rgba(0, 0, 0, 0.025), 0 0.4px 1.1px rgba(0, 0, 0, 0.03), 0 0.8px 2.1px rgba(0, 0, 0, 0.036), 0 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.1px 0.1px rgba(0, 0, 0, 0.014), 0 0.1px 0.3px rgba(0, 0, 0, 0.02), 0 0.3px 0.6px rgba(0, 0, 0, 0.025), 0 0.4px 1.1px rgba(0, 0, 0, 0.03), 0 0.8px 2.1px rgba(0, 0, 0, 0.036), 0 2px 5px rgba(0, 0, 0, 0.05);
  outline: none;
  width: 210px;
}

.set_location_section .box .inner_content form input:active, .set_location_section .box .inner_content form input:focus {
  background-color: #f7feff;
  outline: none;
}

.set_location_section .box .inner_content form button {
  background-color: #fff;
  border: 1px solid #d6dada;
  padding: 3px 7px;
  font-size: 14px;
  text-align: center;
  width: 90px;
  height: 31px;
  margin-left: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0.1px 0.1px rgba(0, 0, 0, 0.014), 0 0.1px 0.3px rgba(0, 0, 0, 0.02), 0 0.3px 0.6px rgba(0, 0, 0, 0.025), 0 0.4px 1.1px rgba(0, 0, 0, 0.03), 0 0.8px 2.1px rgba(0, 0, 0, 0.036), 0 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.1px 0.1px rgba(0, 0, 0, 0.014), 0 0.1px 0.3px rgba(0, 0, 0, 0.02), 0 0.3px 0.6px rgba(0, 0, 0, 0.025), 0 0.4px 1.1px rgba(0, 0, 0, 0.03), 0 0.8px 2.1px rgba(0, 0, 0, 0.036), 0 2px 5px rgba(0, 0, 0, 0.05);
}

.set_location_section .box .inner_content form button:hover {
  background-color: #f1f1f1;
}

.set_location_section .box .inner_content form button:active {
  background-color: #e9e9e9;
  -webkit-box-shadow: inset 0 0.1px 0.1px rgba(0, 0, 0, 0.014), inset 0 0.1px 0.3px rgba(0, 0, 0, 0.02), inset 0 0.3px 0.6px rgba(0, 0, 0, 0.025), inset 0 0.4px 1.1px rgba(0, 0, 0, 0.03), inset 0 0.8px 2.1px rgba(0, 0, 0, 0.036), inset 0 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0.1px 0.1px rgba(0, 0, 0, 0.014), inset 0 0.1px 0.3px rgba(0, 0, 0, 0.02), inset 0 0.3px 0.6px rgba(0, 0, 0, 0.025), inset 0 0.4px 1.1px rgba(0, 0, 0, 0.03), inset 0 0.8px 2.1px rgba(0, 0, 0, 0.036), inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

.categories_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232f3e;
  gap: 1px;
  padding: 10px;
}

.categories_nav li {
  list-style-type: none;
}

.categories_nav li a {
  padding: 4px 12px;
  border-radius: 2px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid transparent;
}

.categories_nav li a:hover {
  border: 1px solid white;
}
/*# sourceMappingURL=style.css.map */