@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$navbar-bg: #131921;

body {
  background-color: #eaeded;
  font-family: 'Roboto', sans-serif;
}

@import 'navbar';
@import 'homepage';
@import 'resuable';
@import 'sign-in';
@import 'cart';
@import 'footer';
@import 'products';
@import 'single_pdt';
