@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import './_resuable.scss';
@import './sign-in';
@import './cart';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: #eaeded;
  font-family: "Roboto", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1250px;
  z-index: 1;
  .upperNav {
    padding: 6px;
    display: flex;
    flex-wrap: nowrap;
    background-color: $navbar-bg;
    color: white;
    align-items: center;
    gap: 3px;
  }
  .logo {
    padding: 10px 10px 3px 7px;
    margin-left: 3px;
    width: 130px;
    display: grid;
    border: 1px solid transparent;
    place-items: center;
    margin-right: 4px;
    &:hover {
      border: 1px solid white;
      border-radius: 2px;
    }
    a {
      display: block;
      height: 100%;
      width: 109px;
      position: relative;
      img {
        height: 29px;
      }
      &::after {
        position: absolute;
        left: 89%;
        top: 15%;
        content: ".in";
        font-size: 13px;
        color: white;
      }
    }
  }
  .location-box {
    button {
      padding: 4px 8px 4px 3px;
      background-color: transparent;
      border: none;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      border: 1px solid transparent;
      height: 47px;
      &:hover {
        border: 1px solid white;
        border-radius: 2px;
      }
      .left {
        margin-right: 3px;
        svg {
          padding-top: 8px;
          height: 100%;
          color: white;
          width: 18px;
          color: white;
        }
      }
      .right {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        .deliverto {
          font-size: 13px;
          color: rgb(192, 192, 192);
        }
        .location {
          font-size: 14px;
          white-space: nowrap;
        }
      }
    }
  }
  .searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 400px;
    form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    select {
      background-color: #f3f3f3;
      border: none;
      border-radius: 5px 0 0 5px;
      color: #414141;
      height: 38px;
      font-size: 14px;
      width: 56px;
      cursor: pointer;
      text-align: center;
      padding: 0 6px;
      option {
        color: white;
      }
    }
    input {
      height: 38px;
      border: none;
      outline: transparent;
      font-size: 15px;
      background-color: white;
      padding: 0 13px;
      min-width: 500px;
      width: 80%;
    }
    .search-btn {
      background-color: #febd69;
      border: none;
      border-radius: 0 5px 5px 0;
      color: #414141;
      height: 38px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      padding: 0 10px;
      width: 51px;
      &:active {
        background-color: #ffa229;
      }
      .iconify {
        width: 24px;
        color: black;
        transform: scale(2) !important;
      }
    }
  }
  .country_select {
    padding: 10px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    &:hover {
      border: 1px solid white;
    }
    .India {
      svg {
        width: 23px;
        height: auto;
      }
    }
  }
  .sign_in_section {
    button {
      cursor: pointer;
      border: none;
      padding: 10px;
      border-radius: 2px;
      background-color: transparent;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 47px;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid white;
      }
      .hello {
        font-size: 12px;
        white-space: nowrap;
        color: rgb(224, 224, 224);
      }
      .list {
        font-size: 14px;
        white-space: nowrap;
        color: white;
      }
    }
  }
  .return_orders {
    cursor: pointer;
    height: 47px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid transparent;
    padding: 10px;
    &:hover {
      border: 1px solid white;
    }
    .returns {
      font-size: 12px;
      white-space: nowrap;
      color: rgb(224, 224, 224);
    }
    .orders {
      white-space: nowrap;
      font-size: 14px;
    }
  }
  .cart {
    cursor: pointer;
    padding: 10px;
    height: 47px;
    border-radius: 2px;
    border: 1px solid transparent;
    position: relative;
    width: 137px;
    &:hover {
      border: 1px solid white;
    }
    svg {
      width: 32px;
      height: auto;
      fill: white;
      path {
        fill: white;
      }
      circle {
        fill: white;
      }
    }
    .cartItems {
      position: absolute;
      top: 2px;
      left: 23px;
      font-weight: 600;
    }
    .cart_text {
      position: absolute;
      top: 54%;
      left: 47%;
      font-size: 13px;
    }
  }
}

.set_location_section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 2;
  .shadow {
    display: block;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 3;
  }
  .box {
    background-color: white;
    border: 1px solid #0002;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    border-radius: 8px;
    width: 355px;
    .top_bar {
      border-radius: 10px 10px 0 0;
      padding: 20px;
      color: #0f1111;
      background: linear-gradient(#f6f6f6, #ebebeb);
      font-size: 16px;
    }
    .inner_content {
      padding: 20px;
      .select_a_delivery {
        font-size: 12px;
        color: #565959;
      }
      .or_enter_pincode {
        font-size: 12px;
        color: #565959;
        text-align: center;
        position: relative;
        display: block;
        margin-top: 13px;
        &::after {
          position: absolute;
          left: 79%;
          top: 45%;
          transform: translate(0, -50%);
          height: 1px;
          width: 65px;
          background-color: #e8e8e8;
          content: "";
        }
        &::before {
          position: absolute;
          right: 79%;
          top: 45%;
          transform: translate(0, -50%);
          height: 1px;
          width: 65px;
          background-color: #e8e8e8;
          content: "";
        }
      }
      form {
        margin-top: 15px;
        input {
          padding: 3px 7px;
          border: 1px solid grey;
          border-radius: 2px;
          font-size: 16px;
          height: 31px;
          box-shadow: 0 0.1px 0.1px rgba(0, 0, 0, 0.014),
            0 0.1px 0.3px rgba(0, 0, 0, 0.02),
            0 0.3px 0.6px rgba(0, 0, 0, 0.025),
            0 0.4px 1.1px rgba(0, 0, 0, 0.03),
            0 0.8px 2.1px rgba(0, 0, 0, 0.036), 0 2px 5px rgba(0, 0, 0, 0.05);
          outline: none;
          width: 210px;
          &:active,
          &:focus {
            background-color: #f7feff;
            outline: none;
          }
        }
        button {
          background-color: #fff;
          border: 1px solid #d6dada;
          padding: 3px 7px;
          font-size: 14px;
          text-align: center;
          width: 90px;
          height: 31px;
          margin-left: 10px;
          border-radius: 2px;
          box-shadow: 0 0.1px 0.1px rgba(0, 0, 0, 0.014),
            0 0.1px 0.3px rgba(0, 0, 0, 0.02),
            0 0.3px 0.6px rgba(0, 0, 0, 0.025),
            0 0.4px 1.1px rgba(0, 0, 0, 0.03),
            0 0.8px 2.1px rgba(0, 0, 0, 0.036), 0 2px 5px rgba(0, 0, 0, 0.05);
          &:hover {
            background-color: rgb(241, 241, 241);
          }
          &:active {
            background-color: rgb(233, 233, 233);
            box-shadow: inset 0 0.1px 0.1px rgba(0, 0, 0, 0.014),
              inset 0 0.1px 0.3px rgba(0, 0, 0, 0.02),
              inset 0 0.3px 0.6px rgba(0, 0, 0, 0.025),
              inset 0 0.4px 1.1px rgba(0, 0, 0, 0.03),
              inset 0 0.8px 2.1px rgba(0, 0, 0, 0.036),
              inset 0 2px 5px rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }
}

.categories_nav {
  display: flex;
  align-items: center;
  background-color: #232f3e;
  gap: 1px;
  padding: 10px;
  li {
    list-style-type: none;
    a {
      padding: 4px 12px;
      border-radius: 2px;
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
      border: 1px solid transparent;
      white-space: nowrap;
      &:hover {
        border: 1px solid white;
      }
    }
  }
}

.product_banner {
  height: 650px;
  width: 100%;
  max-width: 1500px;
  min-width: 1250px;
  margin: 0 auto;
  background-color: #f79b34;
  background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/prime/Events/Pug/Leadup21-page/Eng-Mobile/XCM_Manual_1348517_in_prime_1_pd_1500x600_b84db980-7588-4c7f-b61c-dcb74fd3836c._CB663287815_.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  // z-index: -1;
  .gradient {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    background: linear-gradient(#0000, #eaeded);
  }
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.products {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  min-height: 1000px;
  padding-bottom: 500px;
  margin-top: -350px;
  position: relative;
  .cards {
    display: grid;
    width: 1450px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 23px;
    margin: 0 auto;
    .item {
      background-color: rgb(255, 255, 255);
      height: 410px;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      position: relative;
      h2{
        color: #0F1111;
      }
      .inner_card {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 280px;
        gap: 13px;
        .inr_itm {
          height: 100%;
          a {
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: black;
          }
          .img {
            display: block;
            height: 80%;
            background-color: coral;
            width: 100%;
          }
          .caption {
            display: block;
            font-size: 13px;
            margin-top: 2px;
          }
        }
      }
      .sign_in_title {
        font-size: 23px;
      }
      .sign_in_btn {
        margin-top: 20px;
      }
      .banner_img {
        height: 300px;
        width: 100%;
        margin-top: 10px;
        display: block;
        background-color: coral;
      }
      .read_more {
        position: absolute;
        bottom: 20px;
        left: 20px;
        a {
          color: #007185;
          text-decoration: none;
          font-size: 13px;
          &:hover {
            color: orange;
            text-decoration: underline;
          }
        }
      }
    }
    #item4 {
      height: 160px;
    }
    #item5 , #item7, #item8{
      .inner_card{
        height: 311px;
      }
    }
    #item9 {
      grid-column: 1/5;
    }
  }
}
