.related_products {
  background-color: #fff;
  padding: 2rem 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 1px;
    background-color: lightgray;
  }

  header {
    padding: 1rem;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: -1rem;
      left: 1rem;
      width: calc(100% - 2rem);
      height: 1px;
      background-color: lightgray;
    }
  }
  .product_carousel {
    display: flex;
    list-style: none;
    height: 290px;
    overflow: hidden;
    padding: 0 2rem;

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      height: 100%;
      margin-right: 2rem;
    }

    .product_image {
      width: 100%;
      img {
        user-select: none;
        width: 100%;
        height: 160px;
        object-fit: contain;
      }
    }
    .product_name {
      overflow: hidden;
      font-size: 14px;
      line-height: 20px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    .ratings {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 20px;
      margin: 5px 0;
      span {
        margin-left: 3px;
        line-height: 22px;
      }
    }

    .product_pricing {
      display: flex;
      align-items: center;
      .price {
        color: #b12704;
      }
      i {
        margin-left: 5px;
      }
    }
  }
}

.carousel_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 24px;
    line-height: 32px;
  }
}

.arrow {
  z-index: 3;
  width: 60px;
  height: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  cursor: pointer;
  background: white;

  span:hover {
    box-shadow: 0 0 3px 0 #ccc;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.carousel_slider {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: hidden;

  .carousel_content {
    z-index: 2s;
    width: calc(100% - 140px);
    position: absolute;
    left: 70px;
    top: 0px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out all;
  }
}
